@model ButterflyWebsite.Models.Collection

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Collection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommonName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LatinName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LatinName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatchDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatchDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
